# Ignore dataset and outputs
data/
outputs/

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore system files
.DS_Store

# Ignore Ultralytics YOLO cache
*.cache
